.footer {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}

.footer  .footer-text {
    width: fit-content;

    display: inline;

    margin: 0;
    padding-left: 1.5vmin;

    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.7vmin;
    color: white;
}



