.info-bar {
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 4;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;

    user-select: none;
}

.info-bar .info-button {
    --height: 5vmin;

    height: var(--height);
    width: var(--height);

    border-radius: calc(var(--height) / 2);
    border: 0;

    cursor: pointer;

    position: relative;
}

.info-bar .info-button-img {
    pointer-events:none;
    user-select: none;

    position: absolute;
    top: 50%;
    left: 50%;
    width: var(height);
    height: 60%;

    transform: translate(-50%, -50%);

    content: var(--img-unchecked);
}

.info-bar .info-button:hover {
    background-color: rgb(40, 41, 44);
}

.info-bar .button-tooltip {
    visibility: hidden;
    opacity: 0;
    cursor: default;
    pointer-events: none;

    width: fit-content;
    height: fit-content;
    background-color: rgb(62, 63, 67);

    transition: 0.3s ease;

    border-radius: 0.5vmin;

    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -20%);

}

.info-bar .info-button:hover .button-tooltip {
    visibility: visible;
    opacity: 1;
}

.info-bar .button-tooltip-text {
    margin: 0;
    padding-top: 0.5vmin;
    padding-bottom: 0.5vmin;
    padding-left: 1vmin;
    padding-right: 1vmin;

    white-space: nowrap;

    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.8vmin;
    color: white;
}

.info-bar .participant-count {
    cursor: default;
    pointer-events: none;

    width: 2.3vmin;
    height: 2.3vmin;
    background-color: rgb(96, 97, 102);

    border-radius: 50%;

    position: absolute;
    bottom: 70%;
    left: 50%;
    /* transform: translate(-50%, -50%); */

}

.info-bar .participant-count-text {
    width: fit-content;
    height: fit-content;

    margin: 0;
    padding: 0;

    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.2vmin;
    color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
