.root {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgb(32, 33, 36);

    display: grid;
    grid-gap: 1.5vmin;
    grid-template-columns: 0% repeat(10, 0.1fr) 0%;
    grid-template-rows: 0% 0.94fr 0.06fr 0%;
}

/* .user-list #template-user { */
/*     visibility: hidden; */
/*     display: none; */
/* } */

@font-face {
    font-family: myFirstFont;
    src: url("./NotoSansTC-Light.otf");
}
