.user-list-area {
    grid-row-start: 2;
    grid-row-end: 3;

    position: relative;

    overflow-y: auto;
}

.user-pin-area[enabled="true"] + .user-list-area {
    grid-column-start: 9;
    grid-column-end: 12;
}

.user-pin-area[enabled="false"] + .user-list-area {
    grid-column-start: 2;
    grid-column-end: 12;
}

.user-list-area .user {
    background-color: rgb(74, 78, 81);

    border-radius: 1vmin;

    position: absolute;
}

.user-list-area .user-img {
    --height: 50%;
    height: var(--height);

    user-select: none;

    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-pin-area[enabled="true"] + .user-list-area .user-tooltip {
    --height: 25%;
}

.user-pin-area[enabled="false"] + .user-list-area .user-tooltip {
    --height: 20%;
}

.user-list-area .user-tooltip {
    height: var(--height);
    aspect-ratio: 3;
    /* width: calc(var(--height) * (8 / 11) * 3); */

    background-color: black;
    opacity: 0;
    user-select: none;

    border-radius: calc(50% / 3) / 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.user-list-area .user:hover > .user-tooltip:not(:hover) {
    opacity: 0.3;
}

.user-list-area .user-tooltip:hover {
    opacity: 0.6;
}

.user-list-area .tooltip-option {
    height: 100%;
    width: calc(100% / 3);
    background-color: rgba(100, 100, 100, 0);
    transition: 0.2s ease;

    cursor: pointer;

    border-radius: 50%;
    position: relative;
}

.user-list-area .tooltip-option-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-list-area .tooltip-option:hover {
    background-color: rgb(60, 64, 67);
}

.user-list-area .button-tooltip {
    visibility: hidden;
    opacity: 0;
    cursor: default;
    pointer-events: none;

    width: fit-content;
    height: fit-content;
    background-color: black;

    border-radius: 0.5vmin;

    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.user-list-area .tooltip-option:hover .button-tooltip {
    visibility: visible;
    opacity: 1;
}

.user-list-area .button-tooltip-text {
    margin: 0;
    padding-top: 0.5vmin;
    padding-bottom: 0.5vmin;
    padding-left: 1vmin;
    padding-right: 1vmin;

    white-space: nowrap;

    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.3vmin;
    color: white;
}

.user-list-area .user-info {
    width: fit-content;
    height: fit-content;

    position: absolute;
    bottom: 0;
    left: 0;
}

.user-list-area .pin-state {
    --height: 3vmin;
    height: var(--height);
    width: var(--height);
    user-select: none;

    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0.5vmin;
    margin-left: 1.5vmin;

    border-radius: var(--height);

    visibility: hidden;
    display: none;
}

.user-list-area .user-name {
    width: fit-content;
    height: 3vmin;

    margin: 0;
    margin-left: 1.5vmin;

    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5vmin;
    color: white;
}

.user-list-area .mic-state {
    --height: 2.4vmin;
    height: var(--height);
    width: var(--height);
    background-color: rgb(54, 55, 59);
    user-select: none;

    margin-right: 1.5vmin;
    margin-top: 1.5vmin;
    padding: 0.2vmin;
    border-radius: var(--height);

    position: absolute;
    top: 0%;
    right: 0%;
}

.user-list-area .delete-user {
    --height: 2.4vmin;
    height: var(--height);
    width: var(--height);
    background-color: rgb(54, 55, 59);
    cursor: pointer;

    margin-left: 1.5vmin;
    margin-top: 1.5vmin;
    padding: 0.2vmin;
    border-radius: var(--height);

    position: absolute;
    top: 0%;
    left: 0%;
}
.user-list-area .user[is-self="true"] .delete-user {
    display: none;
    visibility: hidden;
}

.user-list-area .delete-user-img {
    width: 140%;
    height: 140%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.user-list-area .button-tooltip {
    visibility: hidden;
    opacity: 0;
    cursor: default;
    pointer-events: none;

    width: fit-content;
    height: fit-content;
    background-color: rgb(62, 63, 67);

    transition: 0.3s ease;

    border-radius: 0.5vmin;

    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -20%);

}

.user-list-area .delete-user:hover .button-tooltip {
    visibility: visible;
    opacity: 1;
}

.user-list-area .button-tooltip-text {
    margin: 0;
    padding-top: 0.5vmin;
    padding-bottom: 0.5vmin;
    padding-left: 1vmin;
    padding-right: 1vmin;

    white-space: nowrap;

    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.8vmin;
    color: white;
}
