{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@src": "./src",
          "@models": "./src/models",
          "@resolvers": "./src/resolvers",
          "@schema": "./src/schema",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
